# 수행평가1

[강사님 홈페이지](https://moon9342.github.io/python-lecture-python-program-exercise-1)

## 수행평가 1 : 기본적인 python프로그래밍 10문제

### 수행평가 2 : class를 이용한 mpg데이터 이용한 8문제

### 수행평가 3 : pandas를 이용한 문제 (예정)

### 문제 설명은 블로그에 명시

### 필당평가 및 수행평가 제출일 (예정) : 1/29 (변동가능)

## 문제 1

## 10보다 작은 자연수 중에서 3 또는 5의 배수는
## 3,5,6,9가 존재해요! 이것들의 합은 23입니다.

## 1000보다 작은 자연수 중에서 3 또는 5의 배수들을
## 구해서 모두 합하면 얼마인가요?

## 정답 : 233168

In [2]:
three = [thr for thr in range(1,1000) if thr%3==0]
five=[fiv for fiv in range(1,1000) if fiv%5==0]

In [3]:
sum(set(three)|set(five))

233168

## 문제 2.
## 피보나치 수열의 각 항은 바로 앞의 항 두 개를 더한 것이 됩니다. 
## 1과 2로 시작하는 경우 이 수열은 아래와 같습니다.

## 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
## 짝수이면서 4백만 이하인 모든 항을 더하면 얼마가 됩니까?

## 정답 : 4613732

In [4]:
def fiv(n):
    if n <=1 :
        return n
    elif n==2 :
        return n
    else :
        return fiv(n-1)+fiv(n-2)

In [ ]:
sum_f=0
for i in range(10000):
    while fiv(i)<=4000000:
        if fiv(i)%2==0:
            sum_f+=fiv(i)

## 문제 3.
## 알파벳 대소문자로 된 문자열이 주어지면, 
## 이 문자열에서 가장 많이 사용된 알파벳이 
## 무엇인지 출력하는 프로그램을 작성하시오. 
## 단, 대소문자는 구별하지 않아요. 만약 동률이 존재하는 경우 
## 알파벳 순으로 제일 앞에 있는
## 문자를 출력하세요.

## 문자열) "This is a sample Program mississippi river"
## 문자열) "abcdabcdababccddcd"

## 정답 :  "This is a sample Program mississippi river" => I
## 정답 :  "abcdabcdababccddcd" => C

In [5]:
a="This is a sample Program mississippi river"

In [6]:
set(a.lower())

{' ', 'a', 'e', 'g', 'h', 'i', 'l', 'm', 'o', 'p', 'r', 's', 't', 'v'}

## 문제 4.
## 로또 프로그램 작성 
## 5000원으로 로또복권을 5장 자동으로 구매합니다. 
## 이번 주 로또 당첨번호를 생성하여 로또 당첨을 확인하세요!
## 쉬운버전으로 먼저 작성합니다.  
## 6숫자가 다 맞으면 1등, 5개 맞으면 2등으로 처리합니다.
## 즉, 쉬운버전은 보너스 숫자는 없는 것으로 간주합니다.
## 쉬운버전을 해결했다면 
## 보너스 숫자를 이용하여 로또 당첨을 확인합니다.
## 보너스 숫자를 제외한 모든 숫자가 다 맞으면 1등,
## 보너스 숫자를 포함하여 6개의 숫자가 맞으면 2등,
## 보너스를 제외하고 5개의 숫자가 맞으면 3등으로 처리합니다.

## 쉬운버전의 출력은 1등 몇개, 2등 몇개, 3등 몇개, 
## 4등 몇개, 꽝 몇개로 출력
## 어려운버전의 출력은 1등 몇개, 2등 몇개, 3등 몇개, 
## 4등 몇개, 5등 몇개, 꽝 몇개로 출력

## 랜덤값을 도출하기 위해서는 다음의 코드를 이용한다.

    import random

    i = random.randint(1, 100)  # 1부터 100 사이의 임의의 정수 
    f = random.random()   # 0부터 1 사이의 임의의 float
    i = random.randrange(1, 101, 2) # 1부터 100 사이의 임의의 짝수
    i = random.randrange(10)  # 0부터 9 사이의 임의의 정수

##### 추가문제
##### 1등에 당첨될려면 평균적으로 얼마만큼의 돈을 투자해야 할까요?
##### 로또 1게임은 1000원입니다.

In [1]:
import random

In [11]:
luck = []
for i in range(0,6):
    luck.append(random.randint(1,100))

In [12]:
luck

[89, 23, 30, 55, 8, 78]

In [17]:
def lotto(n):
    out=[]
    for i in range(n):
        luck = []
        for j in range(6):
            luck.append(random.randint(1,100))
        out.append(luck)
    return out

In [20]:
my_lotto = lotto(5)

In [31]:
my_lotto[0] = luck

In [24]:

cnt = 0
for i in range(6):
    if my_lotto[0][i] in luck :
        cnt+=1
if cnt == 6 :
    print("1등")
elif cnt ==5:
    print('2등')
elif cnt ==4:
    print('3등')
elif cnt ==3:
    print('4등')
else:
    print("꽝")

꽝

[[18, 1, 79, 30, 67, 3],
 [32, 70, 39, 88, 98, 50],
 [8, 49, 27, 89, 79, 25],
 [29, 56, 75, 81, 6, 74],
 [94, 81, 95, 15, 12, 65]]

In [29]:
def check_lotto(my_lotto):
    for i in range(len(my_lotto)):
        cnt=0
        for j in range(6):
            if my_lotto[i][j] in luck:
                cnt +=1
        if cnt == 6 :
            print("1등")
        elif cnt ==5:
            print('2등')
        elif cnt ==4:
            print('3등')
        elif cnt ==3:
            print('4등')
        else:
            print("꽝")

In [32]:
check_lotto(my_lotto)

1등
꽝
꽝
꽝
꽝

## 문제 5.
## 어떤 수를 소수의 곱으로만 나타내는 것을 소인수분해라 하고, 
## 이 소수들을 그 수의 소인수라고 합니다.
## 예를 들면 13195의 소인수는 5, 7, 13, 29 입니다.

## 600851475143의 소인수 중에서 가장 큰 수를 구하세요.

## 정답 : 6857

In [44]:
def prime_number(number):
    if number !=1:
        for i in range(2,number):
            if number % i ==0 :
                return False
    else :
        return False
    return True

In [45]:
def prime_list(number):
    integer_list = [x for x in range(2,number+1)]
    prime_numbers =[]
    for num in integer_list :
        if prime_number(num):
            prime_numbers.append(num)
    return prime_numbers

In [47]:
prime_list(75143)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997,
 1009,
 1013,
 1019,
 1021,
 1031,
 1033,
 1039,
 1049,
 1051,
 1061,
 1063,
 1069,
 1087,
 1091,
 1093,
 1097,
 1103,
 1109,
 1117,
 1123,
 1129,
 1151,
 1153,
 1163,
 1171,
 1181,
 1187,
 1193,
 1201,
 1213,
 1217,
 1223,
 1229,
 1231,
 1237,
 1249,
 1259,
 1277,
 1279,
 1283,
 1289,
 1291,
 1297,
 1301,
 1303,
 1307,
 1319,
 1321,
 1327,
 1361,
 1367,
 1373,
 1381,
 1399,
 1409,
 1423,
 1427,
 1429,
 1433,
 1439,
 1447,
 1451,
 1453,
 1459,
 1471,
 1481,
 1483,
 1487,
 1489,
 1493,
 1499,
 1511,
 1523,
 1531,
 1543,
 1549,
 1553,
 1559,
 1567,
 1571,
 1579,
 1583,
 1597,
 1601,
 1607,
 1609,
 1613,
 1619,
 1621,
 1627,
 1637,
 1657,
 1663,
 1667,
 1669,
 1693,
 1697,
 1699,
 1709,
 1721,
 1723,
 1733,
 1741,
 1747,
 1753,
 1759,
 1777,
 1783,
 1787,
 1789,
 1801,
 1811,
 1823,
 1831,
 1847,
 1861,
 1867,
 1871,
 1873,
 1877,
 1879,
 1889,
 1901,
 1907,
 1913,
 1931,
 1933,
 1949,
 1951,
 1973,
 1979,
 1987,
 1993,
 1997,
 1999,
 2003,
 2011,
 2017,
 2027,
 2029,
 2039,
 2053,
 2063,
 2069,
 2081,
 2083,
 2087,
 2089,
 2099,
 2111,
 2113,
 2129,
 2131,
 2137,
 2141,
 2143,
 2153,
 2161,
 2179,
 2203,
 2207,
 2213,
 2221,
 2237,
 2239,
 2243,
 2251,
 2267,
 2269,
 2273,
 2281,
 2287,
 2293,
 2297,
 2309,
 2311,
 2333,
 2339,
 2341,
 2347,
 2351,
 2357,
 2371,
 2377,
 2381,
 2383,
 2389,
 2393,
 2399,
 2411,
 2417,
 2423,
 2437,
 2441,
 2447,
 2459,
 2467,
 2473,
 2477,
 2503,
 2521,
 2531,
 2539,
 2543,
 2549,
 2551,
 2557,
 2579,
 2591,
 2593,
 2609,
 2617,
 2621,
 2633,
 2647,
 2657,
 2659,
 2663,
 2671,
 2677,
 2683,
 2687,
 2689,
 2693,
 2699,
 2707,
 2711,
 2713,
 2719,
 2729,
 2731,
 2741,
 2749,
 2753,
 2767,
 2777,
 2789,
 2791,
 2797,
 2801,
 2803,
 2819,
 2833,
 2837,
 2843,
 2851,
 2857,
 2861,
 2879,
 2887,
 2897,
 2903,
 2909,
 2917,
 2927,
 2939,
 2953,
 2957,
 2963,
 2969,
 2971,
 2999,
 3001,
 3011,
 3019,
 3023,
 3037,
 3041,
 3049,
 3061,
 3067,
 3079,
 3083,
 3089,
 3109,
 3119,
 3121,
 3137,
 3163,
 3167,
 3169,
 3181,
 3187,
 3191,
 3203,
 3209,
 3217,
 3221,
 3229,
 3251,
 3253,
 3257,
 3259,
 3271,
 3299,
 3301,
 3307,
 3313,
 3319,
 3323,
 3329,
 3331,
 3343,
 3347,
 3359,
 3361,
 3371,
 3373,
 3389,
 3391,
 3407,
 3413,
 3433,
 3449,
 3457,
 3461,
 3463,
 3467,
 3469,
 3491,
 3499,
 3511,
 3517,
 3527,
 3529,
 3533,
 3539,
 3541,
 3547,
 3557,
 3559,
 3571,
 3581,
 3583,
 3593,
 3607,
 3613,
 3617,
 3623,
 3631,
 3637,
 3643,
 3659,
 3671,
 3673,
 3677,
 3691,
 3697,
 3701,
 3709,
 3719,
 3727,
 3733,
 3739,
 3761,
 3767,
 3769,
 3779,
 3793,
 3797,
 3803,
 3821,
 3823,
 3833,
 3847,
 3851,
 3853,
 3863,
 3877,
 3881,
 3889,
 3907,
 3911,
 3917,
 3919,
 3923,
 3929,
 3931,
 3943,
 3947,
 3967,
 3989,
 4001,
 4003,
 4007,
 4013,
 4019,
 4021,
 4027,
 4049,
 4051,
 4057,
 4073,
 4079,
 4091,
 4093,
 4099,
 4111,
 4127,
 4129,
 4133,
 4139,
 4153,
 4157,
 4159,
 4177,
 4201,
 4211,
 4217,
 4219,
 4229,
 4231,
 4241,
 4243,
 4253,
 4259,
 4261,
 4271,
 4273,
 4283,
 4289,
 4297,
 4327,
 4337,
 4339,
 4349,
 4357,
 4363,
 4373,
 4391,
 4397,
 4409,
 4421,
 4423,
 4441,
 4447,
 4451,
 4457,
 4463,
 4481,
 4483,
 4493,
 4507,
 4513,
 4517,
 4519,
 4523,
 4547,
 4549,
 4561,
 4567,
 4583,
 4591,
 4597,
 4603,
 4621,
 4637,
 4639,
 4643,
 4649,
 4651,
 4657,
 4663,
 4673,
 4679,
 4691,
 4703,
 4721,
 4723,
 4729,
 4733,
 4751,
 4759,
 4783,
 4787,
 4789,
 4793,
 4799,
 4801,
 4813,
 4817,
 4831,
 4861,
 4871,
 4877,
 4889,
 4903,
 4909,
 4919,
 4931,
 4933,
 4937,
 4943,
 4951,
 4957,
 4967,
 4969,
 4973,
 4987,
 4993,
 4999,
 5003,
 5009,
 5011,
 5021,
 5023,
 5039,
 5051,
 5059,
 5077,
 5081,
 5087,
 5099,
 5101,
 5107,
 5113,
 5119,
 5147,
 5153,
 5167,
 5171,
 5179,
 5189,
 5197,
 5209,
 5227,
 5231,
 5233,
 5237,
 5261,
 5273,
 5279,
 5281,
 5297,
 5303,
 5309,
 5323,
 5333,
 5347,
 5351,
 5381,
 5387,
 5393,
 5399,
 5407,
 5413,
 5417,
 5419,
 5431,
 5437,
 5441,
 5443,
 5449,
 5471,
 5477,
 5479,
 5483,
 5501,
 5503,
 5507,
 5519,
 5521,
 5527,
 5531,
 5557,
 5563,
 5569,
 5573,
 5581,
 5591,
 5623,
 5639,
 5641,
 5647,
 5651,
 5653,
 5657,
 5659,
 5669,
 5683,
 5689,
 5693,
 5701,
 5711,
 5717,
 5737,
 5741,
 5743,
 5749,
 5779,
 5783,
 5791,
 5801,
 5807,
 5813,
 5821,
 5827,
 5839,
 5843,
 5849,
 5851,
 5857,
 5861,
 5867,
 5869,
 5879,
 5881,
 5897,
 5903,
 5923,
 5927,
 5939,
 5953,
 5981,
 5987,
 6007,
 6011,
 6029,
 6037,
 6043,
 6047,
 6053,
 6067,
 6073,
 6079,
 6089,
 6091,
 6101,
 6113,
 6121,
 6131,
 6133,
 6143,
 6151,
 6163,
 6173,
 6197,
 6199,
 6203,
 6211,
 6217,
 6221,
 6229,
 6247,
 6257,
 6263,
 6269,
 6271,
 6277,
 6287,
 6299,
 6301,
 6311,
 6317,
 6323,
 6329,
 6337,
 6343,
 6353,
 6359,
 6361,
 6367,
 6373,
 6379,
 6389,
 6397,
 6421,
 6427,
 6449,
 6451,
 6469,
 6473,
 6481,
 6491,
 6521,
 6529,
 6547,
 6551,
 6553,
 6563,
 6569,
 6571,
 6577,
 6581,
 6599,
 6607,
 6619,
 6637,
 6653,
 6659,
 6661,
 6673,
 6679,
 6689,
 6691,
 6701,
 6703,
 6709,
 6719,
 6733,
 6737,
 6761,
 6763,
 6779,
 6781,
 6791,
 6793,
 6803,
 6823,
 6827,
 6829,
 6833,
 6841,
 6857,
 6863,
 6869,
 6871,
 6883,
 6899,
 6907,
 6911,
 6917,
 6947,
 6949,
 6959,
 6961,
 6967,
 6971,
 6977,
 6983,
 6991,
 6997,
 7001,
 7013,
 7019,
 7027,
 7039,
 7043,
 7057,
 7069,
 7079,
 7103,
 7109,
 7121,
 7127,
 7129,
 7151,
 7159,
 7177,
 7187,
 7193,
 7207,
 7211,
 7213,
 7219,
 7229,
 7237,
 7243,
 7247,
 7253,
 7283,
 7297,
 7307,
 7309,
 7321,
 7331,
 7333,
 7349,
 7351,
 7369,
 7393,
 7411,
 7417,
 7433,
 7451,
 7457,
 7459,
 7477,
 7481,
 7487,
 7489,
 7499,
 7507,
 7517,
 7523,
 7529,
 7537,
 7541,
 7547,
 7549,
 7559,
 7561,
 7573,
 7577,
 7583,
 7589,
 7591,
 7603,
 7607,
 7621,
 7639,
 7643,
 7649,
 7669,
 7673,
 7681,
 7687,
 7691,
 7699,
 7703,
 7717,
 7723,
 7727,
 7741,
 7753,
 7757,
 7759,
 7789,
 7793,
 7817,
 7823,
 7829,
 7841,
 7853,
 7867,
 7873,
 7877,
 7879,
 7883,
 7901,
 7907,
 7919,
 ...]

## 문제 6.
## 앞에서부터 읽을 때나 뒤에서부터 읽을 때나 모양이 
## 같은 수를 대칭수(palindrome)라고 부릅니다.

## 두 자리 수를 곱해 만들 수 있는 대칭수 중 
## 가장 큰 수는 9009 (= 91 × 99) 입니다.

## 세 자리 수를 곱해 만들 수 있는 가장 큰 대칭수를 구하세요

## 정답 : 906609

In [48]:
pal =[]
for i in range(100,1000):
    for j in range(100,1000):
        m =   str(i*j)
        if m[:3]==m[:2:-1] :
            pal.append(m)
        
        
    
max(pal)

'906609'

## 문제 7.
## 1 ~ 10 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수는 2520입니다.
   
## 그러면 1 ~ 20 사이의 어떤 수로도 나누어 떨어지는 가장 작은 수는 얼마입니까?

## 정답 : 232792560

In [ ]:
while True :

## 문제 8.
## 1부터 10까지 자연수를 각각 제곱해 더하면 다음과 같습니다 (제곱의 합).
## 1\*\*2 + 2\*\*2 + ... + 10\*\*2 = 385

## 1부터 10을 먼저 더한 다음에 그 결과를 제곱하면 다음과 같습니다 (합의 제곱).
## (1 + 2 + ... + 10)**2 = 552 = 3025

## 따라서 1부터 10까지 자연수에 대해 "합의 제곱"과 "제곱의 합" 의 
## 차이는 3025 - 385 = 2640 이 됩니다.

## 그러면 1부터 100까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 
## 얼마입니까?

## 정답 : 25164150

In [ ]:
def sqsum(n):
    ssum=0
    for i in range(1,n+1):
        ssum+=i**2
    return ssum

In [ ]:
def sumsq(n):
    ssum=0
    for i in range(1,n+1):
        ssum +=i
    return ssum**2

In [ ]:
sumsq(100)-sqsum(100)

## 문제 9.
## 소수를 크기 순으로 나열하면 2, 3, 5, 7, 11, 13, ... 과 같이 됩니다.

## 이 때 10,001번째의 소수를 구하세요.

## 정답 : 104743

## 문제 10.
## 세 자연수 a, b, c 가 피타고라스 정리 a**2 + b**2 = c**2 를 만족하면 
## 피타고라스 수라고 부릅니다 (여기서 a < b < c ).
## 예를 들면 3\*\*2 + 4\*\*2 = 9 + 16 = 25 = 5**2이므로 
## 3, 4, 5는 피타고라스 수입니다.

## a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 
## 이 때, a × b × c 는 얼마입니까?

## 정답 : 31875000

# 여기까지

## 문제 11.
## 양의 정수 n에 대하여, 다음과 같은 계산 과정을 반복하기로 합니다.

## n → n / 2 (n이 짝수일 때)
## n → 3 * n + 1 (n이 홀수일 때)

## 13에 대하여 위의 규칙을 적용해보면 아래처럼 10번의 과정을 통해 1이 됩니다.

## 13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1

## 아직 증명은 되지 않았지만, 이런 과정을 거치면 어떤 수로 시작해도 
## 마지막에는 1로 끝나리라 생각됩니다. 
## (이런 수들을 우박수 hailstone sequence라 합니다.)

## 그러면, 백만(1,000,000) 이하의 수로 시작했을 때 1까지 도달하는데 
## 가장 긴 과정을 거치는 숫자는 얼마입니까?
## 계산 과정 도중에는 숫자가 백만을 넘어가도 괜찮습니다.

## 정답 :

## 문제 12.
## 다음과 같은 특성을 갖는 숫자의 개수를 찾는 기능을 구현합니다.
## 입력으로 두개의 숫자( x, y )를 이용합니다. 
## - 두 개의 숫자 x와 y를 이용하여,
##   x초과 y미만의 숫자 중 각 자리의 숫자를 모두 더한 값이 5의 배수가 
##   되는 숫자를 찾습니다.
## - 숫자들을 모두 찾은 후 해당 숫자가 총 몇 개인지를 출력합니다.

## 예1) 두 개의 숫자 1과 100이 주어졌을 경우,
##      1초과 100미만의 숫자 중 각 자리의 숫자를 모두 더한 값이 5의 배수가 
##      되는 숫자를 찾습니다.
##      - 20의 경우 각 자리 숫자를 모두 더한 값이 2이므로, 적합하지 않다.
##      - 23의 경우 각 자리 숫자를 모두 더한 값이 5이므로, 적합하다.
##      [총 개수] 19

## 예2) 두 개의 숫자 5와 500이 주어졌을 경우,
##      5초과 500미만의 숫자 중 각 자리의 숫자를 모두 더한 값이 5의 배수가 
##      되는 숫자를 찾습니다.
##      [총 개수] 98

## 입력으로 주어지는 두 개의 수 : 100 10000

## 정답 : 예제의 결과가 출력되도록 코드 작성

## 문제 13.
## 6자리 이상 9자리 미만의 수를 입력으로 사용합니다.

## 수의 중앙을 기준으로 두 개의 수로 분리한 후 큰 수를 선택한다.
## - 수의 숫자개수가 홀수 개인 경우 수의 중앙 숫자를 기준으로 
##   왼쪽과 오른쪽 수로 분리
## - 수의 숫자개수가 짝수 개인 경우 수를 반으로 나누어 
##   왼쪽과 오른쪽 수로 분리
## 예1) 1234567 -> (123, 567) -> (567)
## 예2) 34217869 -> (3421, 7869) ->(7869)

## 입력으로 제공된 수를 더 이상 두 개의 수로 분리할 수 없을 때까지 
## 과정을 반복하여 남은 최종 숫자를 구해 출력한다.
## 예1) 567 -> (5, 7) -> (7)
## 예2) 7869 -> (78, 69) -> (78) -> (7, 8) -> (8)

## 정답 : 예제의 결과가 출력되도록 코드 작성

## 문제 14.
## 2**15 = 32768 의 각 자리수를 더하면 3 + 2 + 7 + 6 + 8 = 26 입니다.

## 2**1000의 각 자리수를 모두 더하면 얼마입니까?

## 정답 : 1366

## 문제 15.
## 각 부품의 생산정보가 문자열로 제공된다.
## [부품생산정보] : A7B5C4A1A8B9B3A5A8B9B1C7C1A1B3C7B9B3A7B8A1C9A8
   
## 각 부품정보는 부품명과 품질데이터로 구성된다. 
## - A,B,C 3개의 부품이 있으며 품질은 1이상 10미만의 정수.
##   예) A7 : A부품, 품질 7
   
## 생산정보에서 품질이 7이상인 부품만을 순서대로 선택한다.
## [생산정보] A7B5C4A1A8B9B3A5A8B9B1C7C1A1B3C7B9B3A7B8A1C9A8
## [품질이 7이상인 부품 목록] A7A8B9A8B9C7C7B9A7B8C9A8
   
## 품질이 7이상인 부품들을 조립해 완성품을 만든다.
## A, B, C 세 부품이 순서대로 있을 때만 부품을 조립한다.
## A7A8B9A8B9C7C7B9A7B8C9A8 => A8B9C7, A7B8C9 2개 조립
## 조립한 부품의 목록과 전체 조립한 개수를 출력

## 정답 : 예제의 결과가 출력되도록 코드 작성

## 문제 16.
## n! 이라는 표기법은 n × (n − 1) × ... × 3 × 2 × 1을 뜻합니다.

## 예를 들자면 10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800 이 되는데,
## 여기서 10!의 각 자리수를 더해 보면 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27 입니다.

## 100! 의 자리수를 모두 더하면 얼마입니까?

## 정답 :

## 문제 17.
## 최소 10개 이상 최대 20개 이하의 숫자로 구성된 숫자목록이 배열 혹은 리스트 형태로 제공된다. 
## 숫자목록 : 1,3,4,5,7,9,2,3,4,7

## 아래의 순서로 숫자목록의 숫자를 교환하여 재배치한다.
## 1) 숫자목록의 앞에서부터 4개의 숫자를 선택한다.
##    목록에서 숫자 선택 : [1,3,4,5],7,9,2,3,4,7
## 2) 선택된 4개의 숫자의 합을 구한다.
##    4개의 숫자 합 : [1,3,4,5],7,9,2,3,4,7 => 13
## 3) 첫 번째와 두 번째 숫자를 교환하고 세 번째와 네 번째 숫자를 교환한다.
##    숫자 교환 : [3,1,5,4],7,9,2,3,4,7
## 4) 오른쪽으로 한칸씩 이동하여 순서대로 1,2,3번 과정을 반복해 숫자목록의 숫자를 재배치한다.
## 예) [1,3,4,5],7,9,2,3,4,7 => 
##     [3,1,5,4],7,9,2,3,4,7 =>
##     3,[1,5,4,7],9,2,3,4,7 -> …

## 숫자목록의 끝까지 숫자배치를 진행할 때 선택되는 4개의 수의 최대 합을 출력

## [초기 입력 데이터]
## 1 3 4 5 7 9 2 3 4 7 
## --------------------------------------------------------------- 
## [선택된 4개의 수의 최대 합]: 21


## [초기 입력 데이터]
## 10 15 3 5 9 5 7 8 9 15 44 54 15 67 32 25 48 98 44 56 
## ---------------------------------------------------------------
## [선택된 4개의 수의 최대 합]: 159

## 정답 : 예제의 결과가 출력되도록 코드 작성

## 문제 18.
## 어떤 대상을 순서에 따라 배열한 것을 순열이라고 합니다. 
## 예를 들어 3124는 숫자 1, 2, 3, 4로 만들 수 있는 순열 중 하나입니다.
   
## 이렇게 만들 수 있는 모든 순열을 숫자나 문자 순으로 늘어놓은 것을 
## 사전식(lexicographic) 순서라고 합니다.

## 0, 1, 2로 만들 수 있는 사전식 순열은 다음과 같습니다. 
## 012   021   102   120   201   210


## 0, 1, 2, 3, 4, 5, 6, 7, 8, 9로 만들 수 있는 사전식 순열에서 
## 1,000,000번째는 무엇입니까?

정답 :

## 문제 19.
## 입력으로 제공되는 숫자열에서 짝수와 홀수를 추출하여 새로운 숫자열을 생성한다.
## 1) 입력된 숫자열에서 짝수와 홀수를 순서대로 추출한다.
##    [입력] 78235169
##    [짝수 추출] 826
##    [홀수 추출] 73519
## 2) 추출된 짝수의 뒤에 추출된 홀수를 연결하여 새로운 숫자열을 생성한다.
##    [짝수와 홀수 연결] 82673519

## 결과숫자열을 앞에서부터 순서대로 뺄셈 연산 또는 덧셈 연산 한다.
## 숫자열의 앞에서 부터 순서대로 뺄셈 연산한다. 
## 단, 앞선 연산 결과가 0 이하이면 그 차례에는 덧셈 연산한다. 
## [결과 숫자열] 82673519
## [각 수의 연산 순서와 방법]
##   8 - 2 = 6
##   6 – 6 = 0
##   0 + 7 = 7 (앞의 연산 결과가 0 이하이므로 덧셈 연산한다.)
##   7 – 3 = 4
##   4 – 5 = -1
##  -1 + 1 = 0 (앞의 연산 결과가 0 이하이므로 덧셈 연산한다.)
##   0 + 9 = 9 (앞의 연산 결과가 0 이하이므로 덧셈 연산한다.)
## [연산 결과] 9

## [입력]: 78235169
## [출력]: 9

## [입력]: 693756874
## [출력]: 7

## 정답 : 예제의 결과가 출력되도록 코드 작성